/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Navigation Styles */
.navigation {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.navigation a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
}

.navigation a.active {
  font-weight: bold;
  color: green;
}

/* Product List Styles */
.product-list {
  max-width: 800px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-item img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.product-details h3 {
  margin: 0;
  font-size: 1.2em;
}

.product-details p {
  margin: 5px 0;
}

/* Cart Styles */
.cart {
  max-width: 800px;
  margin: 20px auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
}

.cart-item img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.item-details {
  /* flex: 1; */
  margin-left: 20px;
  width: 45%;
}

.item-details h3 {
  margin: 0;
  font-size: 1.5em;
}

.item-details p {
  margin: 5px 0;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  padding: 5px 10px;
  margin: 0 5px;
  background: #fff;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 1.1rem;
}

.remove-btn{
  background: transparent;
  border: none;
}
.cart-summary {
  display: flex;
  text-align: right;
  margin-top: 20px;
  font-size: 1.2em;
  flex-wrap: wrap;
}

.total-qty, .total-amt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
}
.flex-right{
  justify-content: flex-end;
}
.flex-left{
  justify-content: flex-start;
}